<!DOCTYPE html>
<html lang="en">
<body>

    <% for(const itemArray of list) { %>        
      <table style="border: black 1px solid">
        <tr>
          <%= itemArray.name %>
        </tr>
        
          <% for(const object in itemArray) { %>
            <% if (object !== "name") { %>
              <td>
                <p>PID: <%= itemArray[object].pid %> </p>
                <p> Price: <%= itemArray[object].price %> </p>
              </td>
            <% } %>
          <% } %>

      </table>
    <% } %>

</body>
</html>