.tableSetting {
  border: black 1px solid;
  border-spacing: 0;
}
.bodySetting {
  border: black 1px solid;
  border-spacing: 0;
}
th {
  background-color: grey;
  color: white;
}
td {
  padding-left: 7px;
  padding-right: 7px;
}
p {
  color: blue
}
tr:nth-child(even) {
  background-color: lightgray
}